* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Asap", sans-serif;
  font-size: calc(20px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  background: linear-gradient(
    to right top,
    #334d50,
    #4d6c67,
    #6f8c7b,
    #9aac8f,
    #cbcaa5
  );
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: calc(34px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(28px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 20px;
}

h3 {
  font-size: calc(24px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-size: calc(18px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding: 10px 0;
}

header {
  padding: 12% 0;
}
